# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Docs
docs/_build
docs/_static
docs/_templates

# Editor configuration
.idea
.vscode

# Geopackage
*.gpkg-shm
*.gpkg-wal

# Unit test reports
.pytest_cache

# Tox
.tox
